# Homework 10: Cleaning data with Regular Expressions

Time to use regular expressions!

# Hints and notes

### Opening files in subdirectories

Notice that this notebook might be **homework/**, but!!! the csvs and text files might be in **homework/scraped/** or **/homework/scraped/minutes_pdfs** or **/homework/pdfs/**. To open a file in a subdirectory, instead of having the filename be `"file.csv"` you'll just use `"some/subfolder/file.csv"`

### Opening text files

This will open up a file, read it in and show you the first 500 characters.

```python
contents = open("your-filename.txt").read()
contents[0:500]
```

> You might need `open("your-filename.txt", encoding="utf8").read()`

### Using regex

For some dumb reason you need to put `r` in front of the string you use when you're talking about regex. Just plain `"(\d\d\d)"` will usually work, but *sometimes* it won't and you'll need `r"(\d\d\d)`. It's best to just use the `r` all of the time, if you can remember!

### Using `.str.extract`

When you use `.str.extract`, you're always going to **capture one thing** and save it to a new column. You need to wrap the things you're interested in with parenthesis `(` `)`.

```python
df['phone_number'] = df['old_column'].str.extract(r"My phone number is (\d\d\d-\d\d\d-\d\d\d\d)")
```

### Setting pandas options

Pandas has a lot of options, like how many columns or rows it will show you, or how many characters it will show in a column before it stops showing you anything. Here are a few useful ones:

* `display.max_cols`: Number of columns to show at once
* `display.max_rows`: Number of rows to show at once
* `display.max_colwidth`: Maximum number of characters displayed from a string

You can set them using `pd.set_option("display.max_rows", 1000)`, for example, to show 1000 rows at a time. You can find a lot more at https://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html

### Regular expressions reference

I personally think http://www.regular-expressions.info/ is a wonderful wonderful reference (and tutorial), even if it's ugly! But here's a quick reference for you:

* `\d` is a digit
* `\d*` is zero or more digits 
* `\d+` is one or more digits
* `.` matches anything for ONE character
* `.*` is "give me anything forever"
* `\s` is whitespace, a.k.a. spaces and tabs
* `\w` is a word character, which includes capital and lowercase letters, numbers and hyphens.
* You can put `*` after anything, so `\w*` would mean "as many word characters as you can find"
* `\b` is a word boundary (you'll need the `r""` thing for this one)
* `( )` is a "capture group" for saving something
* `\1` is used when doing find/replace to say "put the first captured group here" (note, it's a dollar sign instead of a backslash in some editors)
* `[ABCDE]` is a character class, which means "match one of these, I don't care which"
* dollar sign means "end of the line"
* caret ^ means "beginning of the line"
* `\.` means "no really seriously I mean a period not just anything"
* You can use `\` with anything else that would normally be a special character, too, not just periods. `(` or `[` or whatever.

### Cleaning up extracted columns

Sometimes you get `\n` (newlines) or spaces or `\t` (tabs) or stuff at the beginning or the end of your column. `.str.strip()` will usually take care of that, just attach it after your `.str.extract()`

After you extract something, it's still a string even though you look at it and know it's a number. Use `.astype(int)` to turn it into an integer (no decimal) or `.astype(float)` to turn it into a float (yes decimal)

### Writing regular expressions in general

Even if I'm using regex in pandas or Python, I like to test them in my text editor with "Find." The highlighting really helps me see if I'm matching things! I also like to think "what stays the same?" when designing patterns, write those parts first, then fill in the blanks with what I want to capture.

## Importing

There might be more, I just wanted to put this up here for the `pd.set_option` part. It allows you to see a lot of content in a single column of pandas, which will be important for some parts below.

In [1]:
import re
import pandas as pd
pd.set_option('display.max_colwidth', 500)

# Part 1: Using `.str.extract` to pull data from columns in pandas

## 1.1 H&M

Open up `hm.csv` from the `scraped` directory. I want **four new columns**:

1. `price_original`, the original price, one of the new price
2. `price_discounted`, the discounted price
3. `pct_discount`, the percent discount
4. `article_id`, the article id (from the url)

Save as **hm_cleaned.csv**.

**Note:** When you look at it, it... won't look right. I don't know why, pandas is weird. Look at the `price` column by itself using `df['price']` before you write your regex.

**Tip:** Remember that `$` is a special regex symbol! You might need to escape it.

**Tip:** When doing `.str.extract`, the whole match doesn't get captured, only what you put `()` around! Think about anchoring to different points of the string, or things in the string.

**Tip:** Not all prices have cents!

**Tip:** Your first instinct about how to compute the percent discount is probably wrong

In [117]:
df = pd.read_csv("/Users/linleysanders/Documents/Foundations/Homework 10 Sanders (Scraping RegEx)/scraped/hm.csv", dtype='str')
df.head(20)

,name,price,url
0,Washed Linen Duvet Cover Set,$59.99 $129,http://www.hm.com/us/product/13472?article=13472-N
1,Candle in Glass Jar,$6.99 $17.99,http://www.hm.com/us/product/35079?article=35079-D
2,Glittery Cushion Cover,$7.99 $17.99,http://www.hm.com/us/product/72462?article=72462-A
3,Textured-weave Cushion Cover,$6.99 $12.99,http://www.hm.com/us/product/58926?article=58926-C
4,Stoneware Bowl,$17.99 $24.99,http://www.hm.com/us/product/74242?article=74242-A
5,Slub-weave Cushion Cover,$3.99 $9.99,http://www.hm.com/us/product/70965?article=70965-D
6,Braided Cushion Cover,$7.99 $17.99,http://www.hm.com/us/product/62818?article=62818-B
7,Jacquard-weave Cushion Cover,$7.99 $17.99,http://www.hm.com/us/product/69163?article=69163-B
8,Scented Candle in Glass Holder,$9.99 $17.99,http://www.hm.com/us/product/40910?article=40910-C
9,2-pack Curtain Panels,$27.99 $34.99,http://www.hm.com/us/product/69699?article=69699-B
10,Porcelain Cup,$2.99 $5.99,http://www.hm.com/us/product/76916?article=76916-A
11,Cotton Canvas Cushion Cover,$2.99 $5.99,http://www.hm.com/us/product/68473?article=68473-C
12,Color-block Cushion Cover,$9.99 $12.99,http://www.hm.com/us/product/74498?article=74498-A
13,King/Queen Duvet Cover Set,$39.99 $49.99,http://www.hm.com/us/product/41512?article=41512-E
14,Star-print Duvet Cover Set,$39.99 $49.99,http://www.hm.com/us/product/76727?article=76727-A
15,Faux Fur Seat Cushion,$7.99 $17.99,http://www.hm.com/us/product/76977?article=76977-A
16,Patterned Duvet Cover Set,$19.99 $29.99,http://www.hm.com/us/product/73369?article=73369-A
17,Patterned Mug,$2.99 $5.99,http://www.hm.com/us/product/59417?article=59417-D
18,Metal Storage Box,$7.99 $17.99,http://www.hm.com/us/product/76797?article=76797-A
19,Metal Tray,$14.99 $24.99,http://www.hm.com/us/product/76794?article=76794-A

In [57]:
df['price'].head()

0      $59.99 $129
1     $6.99 $17.99
2     $7.99 $17.99
3     $6.99 $12.99
4    $17.99 $24.99
Name: price, dtype: object

In [58]:
df['new_price'] = df['price'].str.extract(r'(\w+\.\w+)').astype(float)

In [59]:
df['new_price'].head()

0    59.99
1     6.99
2     7.99
3     6.99
4    17.99
Name: new_price, dtype: float64

In [60]:
df['price'].str.extractall(r'(\w+\.*\w+)').astype(float).head(15)

              0
  match
0 0       59.99
  1      129.00
1 0        6.99
  1       17.99
2 0        7.99
  1       17.99
3 0        6.99
  1       12.99
4 0       17.99
  1       24.99
5 0        3.99
  1        9.99
6 0        7.99
  1       17.99
7 0        7.99

## 1.2 Sci-Fi Authors

Open up `sci-fi.csv` to clean. Get rid of the `\n` on the title and and give me six new columns:

* `avg_rating`
* `rating_count`
* `total_score`
* `score_votes`
* `series` the series the book belongs to
* `series_no` the book in the series that it is

For series, I'm talking about e.g. `(The Hunger Games, #1)` is `series` "The Hunter Games" and `series_no` 1.

Save as **sci-fi_cleaned.csv**.

**Tip:** You don't need regex to clean the title - there's a special thing that removes whitespace from the beginning/end of strings

**Tip:** Remember that `(` and `)` are special characters

**BONUS:** When you make the `total_score` column, pay close attention to it. If you notice the problem, fix it.

**BONUS:** You don't need these columns to be numbers, but life would be better if they were.

In [104]:
import pandas as pd
dfsci = pd.read_csv("/Users/linleysanders/Documents/Foundations/Homework 10 Sanders (Scraping RegEx)/scraped/sci-fi.csv", dtype='str')
dfsci

,full_rating,full_score,rank,title,url
0,"4.07 avg rating — 785,502 ratings","\nscore: 28,539,\n and\n292 people voted\n \n \n",1,\nThe Handmaid's Tale\n,/book/show/38447.The_Handmaid_s_Tale
1,"4.34 avg rating — 5,212,935 ratings","\nscore: 27,566,\n and\n282 people voted\n \n \n",2,"\nThe Hunger Games (The Hunger Games, #1)\n",/book/show/2767052-the-hunger-games
2,"3.76 avg rating — 922,308 ratings","\nscore: 20,049,\n and\n205 people voted\n \n \n",3,"\nFrankenstein, or The Modern Prometheus\n",/book/show/18490.Frankenstein_or_The_Modern_Prometheus
3,"4.04 avg rating — 702,272 ratings","\nscore: 17,684,\n and\n185 people voted\n \n \n",4,"\nA Wrinkle in Time (A Wrinkle in Time Quintet, #1)\n",/book/show/18131.A_Wrinkle_in_Time
4,"4.06 avg rating — 77,664 ratings","\nscore: 16,070,\n and\n165 people voted\n \n \n",5,\nThe Left Hand of Darkness\n,/book/show/18423.The_Left_Hand_of_Darkness
5,"4.23 avg rating — 2,345,974 ratings","\nscore: 12,935,\n and\n134 people voted\n \n \n",6,"\nDivergent (Divergent, #1)\n",/book/show/13335037-divergent
6,"4.30 avg rating — 2,049,239 ratings","\nscore: 12,261,\n and\n128 people voted\n \n \n",7,"\nCatching Fire (The Hunger Games, #2)\n",/book/show/6148028-catching-fire
7,"4.12 avg rating — 1,379,452 ratings","\nscore: 11,238,\n and\n117 people voted\n \n \n",8,"\nThe Giver (The Giver, #1)\n",/book/show/3636.The_Giver
8,"4.19 avg rating — 57,605 ratings","\nscore: 10,246,\n and\n107 people voted\n \n \n",9,\nThe Dispossessed\n,/book/show/13651.The_Dispossessed
9,"4.20 avg rating — 53,473 ratings","\nscore: 9,907,\n and\n104 people voted\n \n \n",10,\nKindred\n,/book/show/60931.Kindred
10,"really liked it 4.00 avg rating — 176,024 ratings","\nscore: 9,628,\n and\n102 people voted\n \n \n",11,"\nOryx and Crake (MaddAddam, #1)\n",/book/show/46756.Oryx_and_Crake
11,"4.03 avg rating — 1,932,930 ratings","\nscore: 9,423,\n and\n100 people voted\n \n \n",12,"\nMockingjay (The Hunger Games, #3)\n",/book/show/7260188-mockingjay
12,"3.95 avg rating — 1,355,662 ratings","\nscore: 8,250,\n and\n88 people voted\n \n \n",13,\nThe Time Traveler's Wife\n,/book/show/18619684-the-time-traveler-s-wife
13,"4.03 avg rating — 38,534 ratings","\nscore: 8,175,\n and\n88 people voted\n \n \n",14,"\nDoomsday Book (Oxford Time Travel, #1)\n",/book/show/24983.Doomsday_Book
14,"4.10 avg rating — 36,316 ratings","\nscore: 7,523,\n and\n81 people voted\n \n \n",15,\nThe Lathe of Heaven\n,/book/show/59924.The_Lathe_of_Heaven
15,"4.17 avg rating — 46,116 ratings","\nscore: 6,571,\n and\n69 people voted\n \n \n",16,"\nThe Sparrow (The Sparrow, #1)\n",/book/show/334176.The_Sparrow
16,"4.12 avg rating — 22,554 ratings","\nscore: 6,418,\n and\n68 people voted\n \n \n",17,"\nShards of Honour (Vorkosigan Saga, #1)\n",/book/show/61903.Shards_of_Honour
17,"3.97 avg rating — 53,063 ratings","\nscore: 6,257,\n and\n70 people voted\n \n \n",18,"\nAncillary Justice (Imperial Radch, #1)\n",/book/show/17333324-ancillary-justice
18,"4.10 avg rating — 106,206 ratings","\nscore: 6,238,\n and\n68 people voted\n \n \n",19,"\nDragonflight (Dragonriders of Pern, #1)\n",/book/show/61975.Dragonflight
19,"4.14 avg rating — 31,668 ratings","\nscore: 5,999,\n and\n64 people voted\n \n \n",20,"\nParable of the Sower (Earthseed, #1)\n",/book/show/52397.Parable_of_the_Sower
20,"4.13 avg rating — 26,705 ratings","\nscore: 5,933,\n and\n64 people voted\n \n \n",21,"\nTo Say Nothing of the Dog (Oxford Time Travel, #2)\n",/book/show/77773.To_Say_Nothing_of_the_Dog
21,"4.29 avg rating — 18,831 ratings","\nscore: 5,698,\n and\n61 people voted\n \n \n",22,"\nThe Warrior's Apprentice (Vorkosigan Saga, #2)\n",/book/show/61906.The_Warrior_s_Apprentice
22,"4.31 avg rating — 20,045 ratings","\nscore: 5,046,\n and\n54 people voted\n \n \n",23,"\nBarrayar (Vorkosigan Saga, #7)\n",/book/show/61905.Barrayar
23,"3.84 avg rating — 793,665 ratings","\nscore: 5,012,\n and\n53 people voted\n \n \n",24,"\nThe Host (The Host, #1)\n",/book/show/1656001.The_Host
24,"4.06 avg rating — 979,341 ratings","\nscore: 4,899,\n and\n54 people voted\n \n \n",25,"\nInsurgent (Divergent, #2)\n",/book/show/11735983-insurgent
25,"3.69 avg rating — 33,313 ratings","\nscore: 4,413,\n and\n48 people voted\n \n \n",26,\nThe Children of Men\n,/book/show/41913.The_Children_of_Men
26,"4.44 avg rating — 12,743 ratings","\nscore: 4,398,\n and\n48 people voted\n \n \n",27,"\nMemory (Vorkosigan Saga, #10)\n",/book/show/61880.Memory
27,"3.88 avg rating — 1,466 ratings","\nscore: 4,394,\n and\n45 people voted\n \n \n",28,"\nStarshine: Aurora Rising Book One (Aurora Rhapsody, #1)\n",/book/show/21534331-starshine
28,"4.08 avg rating — 16,555 ratings","\nscore: 4,249,\n and\n47 people voted\n \n \n",29,"\nCrystal Singer (Crystal Singer, #1)\n",/book/show/653711.Crystal_Singer
29,"4.06 avg rating — 81,801 ratings","\nscore: 4,245,\n and\n46 people voted\n \n \n",30,"\nThe Year of the Flood (MaddAddam, #2)\n",/book/show/6080337-the-year-of-the-flood
...,...,...,...,...,...
70,4.41 avg rating — 336 ratings,"\nscore: 1,817,\n and\n19 people voted\n \n \n",71,"\nHive (Species Intervention #6609, #4)\n",/book/show/17322045-hive
71,"4.02 avg rating — 206,616 ratings","\nscore: 1,775,\n and\n20 people voted\n \n \n",72,\nStation Eleven\n,/book/show/20170404-station-eleven
72,3.83 avg rating — 799 ratings,"\nscore: 1,772,\n and\n19 people voted\n \n \n",73,"\nBaby (Species Intervention #6609, #1)\n",/book/show/15992857-baby
73,"3.55 avg rating — 4,568 ratings","\nscore: 1,740,\n and\n22 people voted\n \n \n",74,\nThe Female Man\n,/book/show/908311.The_Female_Man
74,3.78 avg rating — 215 ratings,"\nscore: 1,698,\n and\n17 people voted\n \n \n",75,"\nMachinations (Machinations, #1)\n",/book/show/27876301-machinations
75,"4.01 avg rating — 8,590 ratings","\nscore: 1,692,\n and\n22 people voted\n \n \n",76,\nThe Speed of Dark\n,/book/show/96063.The_Speed_of_Dark
76,4.46 avg rating — 256 ratings,"\nscore: 1,687,\n and\n18 people voted\n \n \n",77,"\nEvil Among Us (Species Intervention #6609, #5)\n",/book/show/17936909-evil-among-us
77,4.18 avg rating — 748 ratings,"\nscore: 1,684,\n and\n18 people voted\n \n \n",78,"\nVertigo (Aurora Rhapsody, #2)\n",/book/show/23150535-vertigo
78,"4.05 avg rating — 10,873 ratings","\nscore: 1,683,\n and\n24 people voted\n \n \n",79,"\nCryoBurn (Vorkosigan Saga, #14)\n",/book/show/7841670-cryoburn
79,"4.32 avg rating — 3,203 ratings","\nscore: 1,575,\n and\n19 people voted\n \n \n",80,"\nSeed to Harvest (Patternmaster, #1-4)\n",/book/show/60924.Seed_to_Harvest
80,4.48 avg rating — 244 ratings,"\nscore: 1,565,\n and\n17 people voted\n \n \n",81,"\nThe One (Species Intervention #6609, #6)\n",/book/show/18044158-the-one
81,"3.88 avg rating — 5,588 ratings","\nscore: 1,564,\n and\n19 people voted\n \n \n",82,"\nDarkover Landfall (Darkover, #1)\n",/book/show/673158.Darkover_Landfall
82,4.19 avg rating — 367 ratings,"\nscore: 1,559,\n and\n17 people voted\n \n \n",83,"\nEcho (Species Intervention #6609, #2)\n",/book/show/15992880-echo
83,4.28 avg rating — 93 ratings,"\nscore: 1,495,\n and\n16 people voted\n \n \n",84,"\nHannah's Stolen Men (The Men of Space Station One, #10)\n",/book/show/21409707-hannah-s-stolen-men
84,"3.99 avg rating — 366,089 ratings","\nscore: 1,461,\n and\n16 people voted\n \n \n",85,"\nDelirium (Delirium, #1)\n",/book/show/11614718-delirium
85,4.91 avg rating — 56 ratings,"\nscore: 1,458,\n and\n16 people voted\n \n \n",86,"\nA Forgotten Kitten (Sea-anan Saga, #2)\n",/book/show/17878961-a-forgotten-kitten
86,3.86 avg rating — 134 ratings,"\nscore: 1,455,\n and\n16 people voted\n \n \n",87,"\nThe Ranchers' Bride (The Men of Space Station One, #2)\n",/book/show/13376014-the-ranchers-bride
87,"4.04 avg rating — 3,160 ratings","\nscore: 1,420,\n and\n18 people voted\n \n \n",88,\nRemnant Population\n,/book/show/96284.Remnant_Population
88,"4.01 avg rating — 4,504 ratings","\nscore: 1,380,\n and\n15 people voted\n \n \n",89,\nThe V Girl\n,/book/show/25437891-the-v-girl
89,"3.91 avg rating — 9,782 ratings","\nscore: 1,323,\n and\n18 people voted\n \n \n",90,\nThe Word for World is Forest\n,/book/show/276767.The_Word_for_World_is_Forest
90,"3.74 avg rating — 11,925 ratings","\nscore: 1,316,\n and\n15 people voted\n \n \n",91,"\nGrimspace (Sirantha Jax, #1)\n",/book/show/1828067.Grimspace
91,"4.03 avg rating — 3,338 ratings","\nscore: 1,301,\n and\n16 people voted\n \n \n",92,\nThe Wind's Twelve Quarters\n,/book/show/77289.The_Wind_s_Twelve_Quarters
92,"4.05 avg rating — 57,864 ratings","\nscore: 1,285,\n and\n16 people voted\n \n \n",93,"\nHis Majesty's Dragon (Temeraire, #1)\n",/book/show/28876.His_Majesty_s_Dragon
93,3.82 avg rating — 116 ratings,"\nscore: 1,278,\n and\n14 people voted\n \n \n",94,"\nThe Carpenters' Helper (The Men of Space Station One, #5)\n",/book/show/13518942-the-carpenters-helper
94,"4.19 avg rating — 3,328 ratings","\nscore: 1,240,\n and\n16 people voted\n \n \n",95,"\nInheritor (Foreigner, #3)\n",/book/show/57015.Inheritor
95,"4.17 avg rating — 3,717 ratings","\nscore: 1,197,\n and\n16 people voted\n \n \n",96,"\nInvader (Foreigner, #2)\n",/book/show/57014.Invader
96,"3.78 avg rating — 103,428 ratings","\nscore: 1,174,\n and\n13 people voted\n \n \n",97,"\nAcross the Universe (Across the Universe, #1)\n",/book/show/8235178-across-the-universe
97,4.16 avg rating — 97 ratings,"\nscore: 1,170,\n and\n13 people voted\n \n \n",98,"\nA Lost Kitten (Sea-anan Saga, #1)\n",/book/show/16029924-a-lost-kitten
98,3.85 avg rating — 111 ratings,"\nscore: 1,169,\n and\n13 people voted\n \n \n",99,"\nLove Between the Hired Hands (The Men of Space Station One, #4)\n",/book/show/13482469-love-between-the-hired-hands
99,"3.83 avg rating — 3,244 ratings","\nscore: 1,155,\n and\n16 people voted\n \n \n",100,\nAmmonite\n,/book/show/180270.Ammonite

In [110]:
dfsci['title'] = dfsci['title'].str.strip('\n')
dfsci.head()

,full_rating,full_score,rank,title,url
0,"4.07 avg rating — 785,502 ratings","\nscore: 28,539,\n and\n292 people voted\n \n \n",1,The Handmaid's Tale,/book/show/38447.The_Handmaid_s_Tale
1,"4.34 avg rating — 5,212,935 ratings","\nscore: 27,566,\n and\n282 people voted\n \n \n",2,"The Hunger Games (The Hunger Games, #1)",/book/show/2767052-the-hunger-games
2,"3.76 avg rating — 922,308 ratings","\nscore: 20,049,\n and\n205 people voted\n \n \n",3,"Frankenstein, or The Modern Prometheus",/book/show/18490.Frankenstein_or_The_Modern_Prometheus
3,"4.04 avg rating — 702,272 ratings","\nscore: 17,684,\n and\n185 people voted\n \n \n",4,"A Wrinkle in Time (A Wrinkle in Time Quintet, #1)",/book/show/18131.A_Wrinkle_in_Time
4,"4.06 avg rating — 77,664 ratings","\nscore: 16,070,\n and\n165 people voted\n \n \n",5,The Left Hand of Darkness,/book/show/18423.The_Left_Hand_of_Darkness

In [115]:
dfsci['full_score'] = dfsci['full_score'].str.replace('\n','')
dfsci.head()

,full_rating,full_score,rank,title,url
0,"4.07 avg rating — 785,502 ratings","score: 28,539, and292 people voted",1,The Handmaid's Tale,/book/show/38447.The_Handmaid_s_Tale
1,"4.34 avg rating — 5,212,935 ratings","score: 27,566, and282 people voted",2,"The Hunger Games (The Hunger Games, #1)",/book/show/2767052-the-hunger-games
2,"3.76 avg rating — 922,308 ratings","score: 20,049, and205 people voted",3,"Frankenstein, or The Modern Prometheus",/book/show/18490.Frankenstein_or_The_Modern_Prometheus
3,"4.04 avg rating — 702,272 ratings","score: 17,684, and185 people voted",4,"A Wrinkle in Time (A Wrinkle in Time Quintet, #1)",/book/show/18131.A_Wrinkle_in_Time
4,"4.06 avg rating — 77,664 ratings","score: 16,070, and165 people voted",5,The Left Hand of Darkness,/book/show/18423.The_Left_Hand_of_Darkness

In [116]:
dfsci['full_score'] = dfsci['full_score'].str.replace('and','and ')
dfsci.head()

,full_rating,full_score,rank,title,url
0,"4.07 avg rating — 785,502 ratings","score: 28,539, and 292 people voted",1,The Handmaid's Tale,/book/show/38447.The_Handmaid_s_Tale
1,"4.34 avg rating — 5,212,935 ratings","score: 27,566, and 282 people voted",2,"The Hunger Games (The Hunger Games, #1)",/book/show/2767052-the-hunger-games
2,"3.76 avg rating — 922,308 ratings","score: 20,049, and 205 people voted",3,"Frankenstein, or The Modern Prometheus",/book/show/18490.Frankenstein_or_The_Modern_Prometheus
3,"4.04 avg rating — 702,272 ratings","score: 17,684, and 185 people voted",4,"A Wrinkle in Time (A Wrinkle in Time Quintet, #1)",/book/show/18131.A_Wrinkle_in_Time
4,"4.06 avg rating — 77,664 ratings","score: 16,070, and 165 people voted",5,The Left Hand of Darkness,/book/show/18423.The_Left_Hand_of_Darkness

## 1.3 Where you're just doing one of my former students' projects

Once upon a time my student Stefan did a project that involved some lawyer stuff. Most of the content was in PDFs, though! I converted them to text files and put them into the `pdfs` folder, and gave you code below to open up each of them and save their contents into a dataframe.

What a nice dataframe! I want you to add the following columns to it:

* `lawyer_app`, the applicant's lawyer (pro se means that they did it themselves, that's fine)
* `lawyer_gov`, the government's lawyer
* `judge`, the name of the judge
* `access`, whether the clearance is granted or denied (although you might miss a few)

Save as **court_cleaned.csv**.

**Note:** You can look at the original PDFs, they're also included.

**Note:** This uses a fun utility called `glob`, which is mostly fun because you use it as `glob.glob`. It's used to find files that match a certain filename pattern.

**BONUS:** You'll be happy once you get the judge, but make sure it doesn't have any extra punctuation on it.

**BONUS:** You can for some words using `.str.contains("blah")` and save it into new columns. Maybe `has_debt`, `has_bankruptcy`, etc.

> It's okay if it isn't perfect. Converting PDF into data rarely is! Usually you get 90% of it done with computers, then send people to enter the other 10% by hand.

In [118]:
import glob
filenames = glob.glob("pdfs/*.txt")
contents = [open(filename, encoding="utf8").read() for filename in filenames]
df = pd.DataFrame({'filename': filenames, 'content': contents})

In [121]:
contents = open("/Users/linleysanders/Documents/Foundations/Homework 10 Sanders (Scraping RegEx)/pdfs").read()
contents[0:500]

IsADirectoryError: [Errno 21] Is a directory: '/Users/linleysanders/Documents/Foundations/Homework 10 Sanders (Scraping RegEx)/pdfs'

Okay, now do the work and **make those new columns!**

# Reading books

When you're doing text work, you're legally obligated work on Jane Austen's Pride and Prejudice (at least I *think* so). Let's do some naive analysis of it!

## Read in Jane Austen's Pride and Prejudice (without moving the file!)

It's in the `data/` directory, and named `Austen_Pride.txt`.

## Look at the first 500 or so characters of it

## Use a regular expression to find every "he" or "she" in the book. There should be about 3000 of them.

**Tip:** Do you know about **word boundaries?** `\b` means "the beginning of end of a word."

**Tip:** You might also want to use `re.IGNORECASE`. Maybe you'll need to google it? 

**Tip:** Do NOT use `re.compile`

## Use a regular expression to find those same "he" or "she"s, but also match *the word after it*

The first four should be:

* he is
* he had
* she told
* he came

## Use capture groups to save the pronoun (he/she) as one match and the word as another

The first five should look like

```
[('he', 'is'),
 ('he', 'had'),
 ('she', 'told'),
 ('he', 'came'),
 ('he', 'agreed')]```

## Save those matches into a dataframe

You can give the column names with `columns=['pronoun', 'verb']`

## How many times is each pronoun used?

## Oh, wait, clean that up.

Make it only 'he' and 'she' lowercase.

It should be about 1600 'she' and 1300 'he'

## What are the top 20 most common verbs?

## What are the top 20 most common verbs for 'he', and the top 20 most common for 'she'

**Tip:** Don't use groupby, just filter. If you want to know how, though, you can also look at "value counts for different categories" on [this page](http://jonathansoma.com/lede/foundations-2017/classes/more-pandas/class-notes/)

## Who cries more, men or women? Give me a percentage answer.

**Tip:** It's `cried`, because of, you know, how books are written

## How much more common is 'he' than 'she' in J.R.R. Tolkein's Fellowship of the Ring? How does that compare to Pride and Prejudice?

The book is in the same directory.